@import '../../../styles/utils';

.category-wrapper {
  width: 1040px;
  margin: 4rem auto 0 auto;

  padding-left: 1rem;
  padding-right: 1rem;

  @include media("<wide") {
    width: 768px;
  }
  @include media("<large") {
    width: 512px;
  }
  @include media("<medium") {
    width: 100%;
  }
  .category-item {
    font-size: 15px;
    color: $color-gray;
    display: inline-block;
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:after {
      display: block;
      content: '';
      border-bottom: solid 1.2px $color-black-1;
      transform: scaleX(0);
      transition: transform .5s ease-in-out;
    }
    &:hover {
      color: $color-black-1;
    }
    &:hover:after {
      transform: scaleX(1);
      transform-origin: 0 50%;
    }
  }

  .active {
    color: $color-black-1;
  }
}