@import '../../../styles/utils';

.list-wrapper {
  width: 870px;
  margin: 0 auto;

  padding-top: 1rem;
  padding-bottom: 5rem;

  @include media("<large") {
    width: 600px;
  }
  @include media("<medium") {
    width: 100%;
  }
}
