@import '../../../styles/utils';

.list-wrapper {
  width: 890px;
  margin: 0 auto;

  padding-top: 2rem;
  padding-bottom: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @include media("<wide") {
    width: 768px;
  }
  @include media("<large") {
    width: 512px;
  }
  @include media("<medium") {
    width: 100%;
  }
}
