@import '../../../styles/utils';


.header {
  .header-content {
    position: relative;
    height: 8rem; width: 870px; margin: 0 auto; // 중앙 정렬
    display: flex;
    justify-content: center;
    align-items: center;
    @include media("<wide") {
      width: 100%;
    }
    @include media("<medium") {
      padding-left: 1rem; padding-right: 1rem;
    }
  }
  .header-logo { width: 80px; fill: black; }
  .logo-img { width: 100%; }
  .header-right-side {
    position: absolute;
    display: flex;
    right: 0;
  }
}
