@import '../../../styles/utils';


.header {
  .header-content {
    padding-left: 1px; padding-right: 1px; height: 8rem; width: 1040px; margin: 0 auto; // 중앙 정렬
    display: flex; justify-content: space-between; align-items: center;
    @include media("<wide") {
      width: 100%;
    }
    @include media("<medium") {
      padding-left: 1rem; padding-right: 1rem;
    }
  }
  .header-logo { width: 80px; fill: black; }
  .header-right-side { margin-left: auto; }

  .github {
    width: 45px;
    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }
}
