@import '../../../styles/utils';

.post-list {
  border-top: 1px solid $color-black-1;
  .post-item {
    padding: 6rem 2rem 6rem 2rem;
    transition: all .15s ease-in;
    .post-header {
      display: flex;
      justify-content: space-between;
      }
    h2 {
      letter-spacing: -.4px;
      text-align: left;
      font-size: 2.2rem;
      font-weight: 600;
      color: $color-block-2;
      margin: 0;
      a {
        transition: all .15s ease-in; // 스타일 바뀔 때 애니메이션 효과
        border-bottom: 1px solid transparent;
      }

      a:hover {
        color: $oc-blue-6;
        // 마우스 호버시 밑줄 (밑줄과 글자 사이 여백, 얆은 밑즐을 위해 border-bottom 사용)
        border-bottom: 1px solid $oc-blue-6;
      }
    }
    .date {
      font-size: 1.4rem;
      color: $oc-gray-5;
    }

    p {
      margin-top: 1rem;
      min-height: 9rem;
      font-size: 1.6rem;
      font-weight: 300;
      color: $oc-gray-7;
    }

    .tags {
      font-size: 1.4rem;
      color: $oc-blue-6;
      a {
        &:hover {
          color: $oc-blue-5;
          text-decoration: underline;
        }
      }

      a + a {
        margin-left: 0.25rem;
      }
    }

    &:hover {
      // 호버시 배경색 변경
      background: rgba($oc-blue-6, 0.05);
    }
  }

  .post-item + .post-item { // 아이템 사이 여백
    border-top: 1px solid $oc-gray-3;
  }
}