@import '../../../styles/utils';

.footer {
  background: #E0E0E0;
  height: 10rem;
  margin-top: 6rem;

  // 내부 내용 중앙 정렬
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .footer-logo {
    font-size: 3rem;
    font-weight: bold;
    color: #616161;
  }

  .admin-login {
    // 로그인버튼
    margin-top: 0.5rem;
    font-weight: 600;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer; // 손가락 모양 커서
    &:hover { // 마우스 호버시 불투명도 없애기
      color: white;
    }
  }
}

